@page "/SoftwareTools"

<div class="row">
    <div class="col col-lg-2">
        <div class="mb-3">
            <a class="btn btn-primary" href="/SoftwareTools/GuidGenerator" role="button">Guid Generator</a>
        </div>
    </div>
</div>
